In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import math
import statistics as st
import scipy.stats as ss

# Задание 1 
Рассчитать выборочное среднее  среднеквадратичное отклонение 
# Задание 2 
Рассчитать доверительный интервал нормального распределения
# Задание 3  
Рассчитать доверительный интервал t-распределения Стьюдента с помощью выборочного среднего 
# Задание 4 
Рассчитать доверительный интервал  t-распределения Стьюдента с помощью среднеквадратического отклонения

In [ ]:
one = pd.Series(open('1.txt', 'r'), dtype=float)
two = pd.Series(open('2.txt', 'r'), dtype=float)
three = pd.Series(open('3.txt', 'r'), dtype=float)
four = pd.Series(open('4.txt', 'r'), dtype=float)

№1

In [ ]:
mean_one = st.mean(one)
mean_two = st.mean(two)
mean_three = st.mean(three)
mean_four = st.mean(four)
mean_one, mean_two, mean_three, mean_four

(34.64650238112797, 54.78913353778599, 26.144978984571782, 67.31259841958332)

In [ ]:
Q_one = math.sqrt(st.variance(one))
Q_two = math.sqrt(st.variance(two))
Q_three = math.sqrt(st.variance(three))
Q_four = math.sqrt(st.variance(four))
Q_one, Q_two, Q_three, Q_four

(7.372473261851196, 5.217333585132137, 7.555186351496006, 8.534872700166943)

№2

In [ ]:
interval_norm_one = [mean_one - 1.96*(Q_one)/math.sqrt(len(one)), mean_one + 1.96*(Q_one)/math.sqrt(len(one))]
interval_norm_two = [mean_two - 1.96*(Q_two)/math.sqrt(len(two)), mean_two + 1.96*(Q_two)/math.sqrt(len(two))]
interval_norm_three = [mean_three - 1.96*(Q_three)/math.sqrt(len(three)), mean_three + 1.96*(Q_three)/math.sqrt(len(three))]
interval_norm_four = [mean_four - 1.96*(Q_four)/math.sqrt(len(four)), mean_four + 1.96*(Q_four)/math.sqrt(len(four))]
interval_norm_one, interval_norm_two, interval_norm_three, interval_norm_four

([33.20149762180514, 36.09150714045081],
 [51.55539667917172, 58.022870396400265],
 [24.664162459678565, 27.625795509465],
 [62.022629514248024, 72.60256732491862])

№3

In [ ]:
interval_t_one = list(ss.t.interval(alpha=0.95, df=len(one)-1, loc=mean_one)) 
interval_t_two = list(ss.t.interval(alpha=0.95, df=len(two)-1, loc=mean_two)) 
interval_t_three = list(ss.t.interval(alpha=0.95, df=len(three)-1, loc=mean_three)) 
interval_t_four = list(ss.t.interval(alpha=0.95, df=len(four)-1, loc=mean_four)) 
interval_t_one, interval_t_two, interval_t_three, interval_t_four

([32.66228542961929, 36.63071933263666],
 [52.526976375045, 57.051290700526984],
 [24.1607620330631, 28.129195936080464],
 [65.05044125684233, 69.57475558232431])

In [ ]:
from scipy.stats import chi2

№4

In [ ]:
interval_hi_one = [(Q_one * math.sqrt(len(one) - 1))/math.sqrt(chi2.ppf((0.025), 99)), Q_one * math.sqrt(len(one))/math.sqrt(chi2.ppf((0.975), 99))]
interval_hi_two = [(Q_two * math.sqrt(len(two)))/math.sqrt(19), Q_two * math.sqrt(len(two))/math.sqrt(2.70)]
interval_hi_three = [(Q_three * math.sqrt(len(three)))/math.sqrt(chi2.ppf((0.025), 99)), Q_three * math.sqrt(len(three))/math.sqrt(chi2.ppf((0.975), 99))]
interval_hi_four = [(Q_four * math.sqrt(len(four)))/math.sqrt(19), Q_four * math.sqrt(len(four))/math.sqrt(2.70)]
interval_hi_one, interval_hi_two, interval_hi_three, interval_hi_four

([8.564419758613754, 6.505692182693073],
 [3.785051604914686, 10.040763166093715],
 [8.820888291006709, 6.666923709313688],
 [6.191847441683424, 16.42537016980191])